html {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  width: 600px;
  height: 600px;
  display: flex;
  background-color: #c6ebbe;
  align-items: center;
  justify-content: center;
}

.container {
  width: 500px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.load {
  width: 300px;
  height: 100px;
  border-radius: 50px;
  background-color: #38369a;
  box-shadow: 0px 4px 0px 0px rgba(10, 14, 113, 1);
  border: none;
  padding: 0;
  border-width: 0;
}

.text-box {
  width: 500px;
  height: 130px;
}

.text {
  font-family: "Rubik Mono One", sans-serif;
  color: #020887;
  text-shadow: 0px 4px 0px #b7b7b7;
}

.button {
  width: 500px;
  height: 100px;
  position: relative;
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.text-load {
  color: #bcd4df;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 30px;
}

.input__file-button {
  width: 300px;
  height: 100px;
  border-radius: 50px;
  background-color: #38369a;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 0px 0px rgba(10, 14, 113, 1);
}
